.fullcontainer{

align-items: center;
text-align: center;
padding-left: 35%;
height: 100%;
padding-top: 50px;
padding-bottom: 50px;
background-color: rgb(177, 78, 188);
}

.logincontainer{
    background-color: rgb(233, 227, 227);
    text-align: left;
    padding: 10px 30px;
    width: 60%;
    font-family: Times New Roman;    
}

.logincontainer h1 {
  color: rgb(145, 46, 105);
  font-family:"Times New Roman", Times, serif; ;
}

.logincontainer h2{
  color: rgb(56, 137, 172);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logincontainer label{
  margin-top: 5px;
 
}

.logincontainer input{
    width: 100%;
    height: 30px;
    border-radius: 5px; 
    background-color: rgb(216, 202, 202);
     
}

.logincontainer button{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(177, 78, 188);
    height:30px ;
    border-radius: 5px;
    margin-bottom: 3px;
   }

#newuser {
  color: rgb(21, 137, 21);
}


.check{
  position: relative;
    align-items: center;
   font-size: 15px;
   display: flex;
  }

.check input{
  background-color: grey;
}

.check label
 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.forgot-password {
  position: absolute; 
  right: 0; 
  text-align: right; 
  color: green;
  display: inline-block;
  vertical-align: middle;
} 

.check input{
   width: 5%;
   margin-top: 10px;
}

.or-container {
    display: flex;
    align-items: center;
  }
  
  .line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
  }
  
  .text {
    font-size: 12px;
    
  }

  .gitButton button{
    height: 45px;
   background-color: rgba(0, 0, 0, 0.772);
   color: white;
   width: 97%;
   margin-left: 6px;
   border-radius: 3px;
   font-size: 20px;
   text-align: left;
   display: flex; 
  align-items: center; 

  }
 
  @media (max-width: 767px) { 
   .logincontainer{
      background-color: pink;
      text-align: left;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      align-items: left;
      font-family: Times New Roman;
  } 
}
  
  
  

  
